@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(/assets/Background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #E5E5E5;
  background-blend-mode:darken;
  background-position: top;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Sen', sans-serif;
}
/* Navbar Start */
.action{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
}
.action .menu{
  position: absolute;
  top: 80px;
  right: -2px;
  padding: 10px, 20px;
  background-color: #e5e5ee;
  width: 200px;
  height: 120px;
  box-sizing: 0px 5px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #e5e5ee;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  margin-top: 4px;
  margin-left: 0px;
}
.action .menu ul li a:hover{
  color: rgb(63, 63, 63);
}
.action .menu ul .border{
  border-top: 1px solid rgba(0,0,0,05);
}
.navbar{
    background-color:transparent;
    position: relative;
    top: 100px;
    right: 0px;
    background-color: transparent;
}
.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 40px;
    top: -60px;
}
button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    
}
#profileadmin{
    padding: 10px;
}
/* Navbar end */
/* List start */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    width: 1159px;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.isi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}
.head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-height: 73px;
    align-items: center;
    color: red;
    padding: 5px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #C4C4C4;
}
#HT{
  font-family: 'Times New Roman', Times, serif;
}
.tabel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    min-height: 73px;
    background-color: #FFFFFF;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    text-align: justify;

}
.tabel1{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;  
    min-height: 73px;
    background-color: #F1F1F1;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
}
#user{

    position: relative;
}
#nomor{
  max-width: 46px;
}
#user{
  position: relative;
  right: 55px;
}
#user1{
  position: relative;
  right: 65px;
}
#user2{
  position: relative;
  right: 63px;
}
#user3{
  position: relative;
  right: 53px;
} 
#user4{
  position: relative;
  right: 54px;
}
#user5{
  position: relative;
  right: 78px;
}
#user6{
  position: relative;
  right: 60px;
}
#bank{
  position: relative;
  left: 30px;
}
#bank1{
  position: relative;
  right: 80px;
  color:#1C9CD2;
}
#bank2{
  position: relative;
  right: 72px;
  color:#1C9CD2;
}
#bank3{
  position: relative;
  right: 63px;
  color:#1C9CD2;
}
#bank4{
  position: relative;
  right: 45px;
  color:#1C9CD2;
}
#bank5{
  position: relative;
  right: 96px;
  color:#1C9CD2;
}
#bank6{
  position: relative;
  right: 60px;
  color:#1C9CD2;
}
#judul1{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: 25px;
}
#judul2{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: 10px;
}
#judul3{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: 35px;
}
#judul4{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: 18px;
}
#judul5{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: 42px;
}
#judul6{
  max-width: 211px;
  text-align: left;
  position: relative;
  right: -5px;
}
#harga{
  position: relative;
  left: 30px;
}
#harga1{
  position: relative;
  right: 58px;
  color: #0ACF83;
}
#harga2{
  position: relative;
  right: 59px;
  color: #0ACF83;
}
#harga3{
  position: relative;
  right: 80px;
  color: #FF0742;
}
#harga4{
  position: relative;
  right: 65px;
  color: #FF0742;
}
#harga5{
  position: relative;
  right: 18px;
  color: #FF0742;
}
#harga6{
  position: relative;
  right: 50px;
  color: #FF0742;
}
#bayar1{
  position: relative;
  right: 70px;
  color: #0ACF83;
}
#bayar2{
  position: relative;
  right: 70px;
  color: #0ACF83;
}
#bayar3{
  position: relative;
  right: 90px;
  color: #FF0742;
}
#bayar4{
  position: relative;
  right: 75px;
  color: #F7941E;
}
#bayar5{
  position: relative;
  right: 48px;
  color: #F7941E;
}
#bayar6{
  position: relative;
  right: 70px;
  color: #F7941E;
}
#action{
  position: relative;
  right: 10px;
}
#segitiga{
  position: relative;
  right: 30px;
}
.dropdown{
  width: 90px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  bottom: 50px;
  left: 1045px;
  visibility: hidden;
  opacity: 0;
}
.dropdown.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#approve{
  color: #0ACF83;
}
#cancel{
  color: #FF0742;
}