@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/assets/Background3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #E5E5E5;
    background-position: top;
    overflow-x: hidden;
}
.profile{
    background-color: transparent;
    cursor: pointer;
}
.action{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
}
.action .menu{
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px, 20px;
  background-color: #e5e5ee;
  width: 200px;
  height: 120px;
  box-sizing: 0px 5px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #e5e5ee;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  margin-top: 4px;
  margin-left: 0px;
}
.action .menu ul li a:hover{
  color: rgb(63, 63, 63);
}
.action .menu ul .border{
  border-top: 1px solid rgba(0,0,0,05);
}
.navbar{
    background-color:transparent;
    position: relative;
    top: 100px;
    right: 0px;
    background-color: transparent;
}
.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 40px;
    top: -60px;
}
button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    
}
.headtext{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 43px;
    font-family: 'Vollkorn',serif;
    font-weight: lighter;
    word-spacing: 2px;
    position: relative;
    top: 126px;
    background-color: transparent;
}
.content{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    top: 176px;
}
.satu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
}
.card1{
    width: 270px;
    height: 275px;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}
.cardT1{
    background-color: #FFFFFF;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    position: relative;
    top: 20px;
    left: 10px;
    max-width: 250px;
}
h6{
    background-color: #FFFFFF;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    color:#929292;
    position: relative;
    top: 25px;
    left: 10px;
    max-width: 250px;
}   
.card2{
    width: 270px;
    height: 275px;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}
.dua{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.tiga{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#desc{
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 35px;
    left: 10px;
    max-width: 250px;
}
#harga{
    background-color: #FFFFFF;
    color: #44B200;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    max-width: 250px;
    position: relative;
    top: 60px;
    left: 10px;
}
#tambah{
    margin-left: 15px;
    width: 240px;
    height: 40px;
    font-family: 'Sen', sans-serif;
    background-color: #393939;
    color: white;
    position: relative;
    max-width: 250px;
    top: 70px;
    right: 5px;
}
.cardT2{
    background-color: #FFFFFF;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    position: relative;
    top: 20px;
    left: 10px;
    max-width: 250px;
}
#nama{
    background-color: #FFFFFF;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    color:#929292;
    position: relative;
    top: 45px;
    left: 10px;
    max-width: 250px;
}
#desc1{
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 55px;
    left: 10px;
    max-width: 250px;
}
#harga2{
    background-color: #FFFFFF;
    color: #44B200;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    max-width: 250px;
    position: relative;
    top: 90px;
    left: 10px;
}
#tambah2{
    margin-left: 15px;
    width: 240px;
    height: 40px;
    font-family: 'Sen', sans-serif;
    background-color: #393939;
    color: white;
    position: relative;
    max-width: 250px;
    top: 100px;
    right: 5px;
}    
.home{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    left: 40px;
    top: 20px;
    cursor: pointer;
}
.listhead{
    position: relative;
    bottom: 40px;
}
.list{
    position: relative;
    top: 250px;
    left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 700;
}
.booklist{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 250px;
} 
.LT{
    font-size: 24px;
    max-width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: left;
}
.NT{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    color:#929292;
    background-color: transparent;
    position: relative;
    left: 0px;
    top: 10px;
}
.HT{
    background-color: transparent;
    font-size: 18px;
    color: #44B200;
    font-family: 'Sen', sans-serif;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
}
#user{
    width: 60px;
    height: 60px;
}
#cart{
    position: absolute;
    top: -55px;
    right: 135px;
    width: 35px;
    height: 30px;
}
#buku1{
    text-decoration: none;
    color: black;
}