@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(/assets/Background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #E5E5E5;
  background-blend-mode:darken;
  background-position: top;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Sen', sans-serif;
}
/* Navbar Start */
.action{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
}
.action .menu{
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px, 20px;
  background-color: #e5e5ee;
  width: 200px;
  height: 120px;
  box-sizing: 0px 5px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #e5e5ee;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  margin-top: 4px;
  margin-left: 0px;
}
.action .menu ul li a:hover{
  color: rgb(63, 63, 63);
}
.action .menu ul .border{
  border-top: 1px solid rgba(0,0,0,05);
}
.navbar{
    background-color:transparent;
    position: relative;
    top: 100px;
    right: 0px;
    background-color: transparent;
}
.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 40px;
    top: -60px;
}
button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    
}
#cart{
    position: absolute;
    top: -55px;
    right: 135px;
    width: 41px;
    height: 32px;
}
/* Navbar end */
/* Book start */
.buku{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  gap: 20px;
  height: 100%;
  padding: 10px;
}
.isi1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-bottom: 70px; */
  gap: 25px;
  border-bottom: 1px solid #393939;
  padding: 10px;
  width: 58.5%;
}
.head{
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-bottom: 1px solid #393939;
  width: 60%;
  text-align: left;
  box-sizing: border-box;
}
.isi{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
h1{
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}
h5{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
#isitext{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  position: relative;
}
h2{
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  color: #929292;
  position: relative;
}
h3{
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #44B200;
  position: relative;
  top: 15px;
  margin-bottom: 7px;
}
#gambar{
  margin-left: -10px;
  min-width: 20%;
  height: auto;
}
.trash{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  left: 40%;
}
.bayar{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 220px;
  margin-right: 150px;
  margin-left: 150px;
  gap: 20px;
  float: right;
  width: 20%;
}

#transaksi{
  max-width: 100%;
}
#bayar1{
  font-family: 'Sen', sans-serif;
  font-weight: 200;
  font-size: 18px;
  height: 40px;
  width: 100%;
  background-color: #393939;
  color: white;
}
/* Book end */
/* popup start */
#popup{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 282px;
  bottom: 150px;
  width: 600px;
  min-height: 100px;
  background-color: white;
  font-size: 24px;
  border-radius: 10px;
}
#popup1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#poptext{
  text-align: center;
  text-decoration: none;
  color: #469F74;
}
#popup1.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
@media all and (max-width:870px){
  .bayar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    float: left;
    left: 7%;
    top: 10px;
    width: 20%;
  }
}
@media all and (max-width:494px){
  .bayar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    float: left;
    left: 0px;
    top: 10px;
    width: 20%;
  }
}
@media all and (max-width: 870px){
  #popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -250px;
    bottom: -200px;
    width: 600px;
    min-height: 100px;
    background-color: white;
    font-size: 24px;
    border-radius: 10px;
  }
  #popup1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
  }
  
  #poptext{
    text-align: center;
    text-decoration: none;
    color: #469F74;
  }
  #popup1.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
}