@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(/assets/Background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #E5E5E5;
  background-blend-mode:darken;
  background-position: top;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Sen', sans-serif;
}
/* Navbar Start */
.action{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
}
.action .menu{
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px, 20px;
  background-color: #e5e5ee;
  width: 200px;
  height: 120px;
  box-sizing: 0px 5px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #e5e5ee;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  margin-top: 4px;
  margin-left: 0px;
}
.action .menu ul li a:hover{
  color: rgb(63, 63, 63);
}
.action .menu ul .border{
  border-top: 1px solid rgba(0,0,0,05);
}
.navbar{
    background-color:transparent;
    position: relative;
    top: 100px;
    right: 0px;
    background-color: transparent;
}
.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 40px;
    top: -60px;
}
button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    
}
#cart{
    position: absolute;
    top: -55px;
    right: 135px;
    width: 35px;
    height: 30px;
}
/* Navbar end */
/* Book start */
img{
  width: 100%;
  height: auto;
}
.book{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  gap: 50px;
  margin-left: 0px;
}
.card{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
  width: 35%;
  min-height: 577px;
  position: relative;
  gap: 10px;
}
h1{
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
#name{
  flex-wrap: wrap;
  font-size: 24px;
  color: #929292;
  font-style: italic;
  font-weight: 400;
  position: relative;
  bottom: 15px;
}
h3{
  flex-wrap: wrap;
  font-size: 24px;
}
h5{
  flex-wrap: wrap;
  font-size: 18px;
  color: #929292;
  font-weight: 400;
}
#date{
  flex-wrap: wrap;
  font-size: 24px;
  position: relative;
  top: 15px;
}
#page{
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 800;
  position: relative;
  top: 15px;
}
#code{
  flex-wrap: wrap;
  font-size: 24px;
  position: relative;
  top: 15px;
  color: #D60000;
}
#harga{
  flex-wrap: wrap;
  font-size: 24px;
  position: relative;
  top: 15px;
}
#price{
  color: #44B200;
}
/* Book end */
/* Text start */
.text{
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap ;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
  top: 100px;
  width: 70%;
  height: auto;
  gap: 20px;
  text-align: justify;
}
#headtext{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  float: left;
}
.text1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p{
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  color: #929292;
}
#cart1{
  position: relative;
  top: 2px;
  right: 5px;
  width: 23px;
  height: 20px;
  color: white;
  /* background-color: #000000; */
}
.button{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393939; 
  width: 144px;
  height: 50px;
  position: relative;
  flex-wrap: wrap;
  top: 100px;
  float: right;
  margin-right: 200px;
} 
#cartlink{
  text-decoration: none;
  color: white;
  margin-bottom: 2px;
  cursor: pointer;
}
/* Text end */
/* Popup start */
#popup{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 170px;
  bottom: 120px;
  width: 600px;
  min-height: 100px;
  background-color: white;
  font-size: 24px;
  border-radius: 10px;
}
#popup1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#poptext{
  text-align: center;
  text-decoration: none;
  color: #469F74;
}
#popup1.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
