@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
}
body{
    background-image: url(/assets/Background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e5e5e5;
    background-blend-mode: darken;
    min-height: 100vh;
    overflow-x: hidden;
}
.homebtn{
    position: relative;
    left: 50px;
    top: 40px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 70px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    height: 430px;
    background-color: #ffffff;
    border-radius: 10px;   
    

}
h1{
    display: flex;
    justify-content: start ;
    position: relative;
    bottom: 30px;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 35px;
    left: 5px;
}
input{
    position: relative;
    left: 20px;
    bottom: 15px;
    width: 85%;
    height: 50px;
    text-align: left;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px;
    margin-right: 35px;
}
#login{
    position: relative;
    left: 36px;
    top: 0px;
    width: 85%;
    height: 50px;
    background: #393939;
    border-radius: 1px;
    color: white;
    text-align: center;
    margin-right: 35px;
    cursor: pointer;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #858585;
    gap: 5px;
    position: relative;
    top: 10px;
}
#register{
    text-decoration: none;
    color: #333333;
}
#after{
    position: relative;
    top: 0px;
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 1px;
    color: white;
    text-align: center;
    margin-right: 35px;
    cursor: auto;   
}
#admin{
    position: relative;
    top: 0px;
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 1px;
    color: white;
    margin-right: 3px;
    text-align: center;
    cursor: auto;  
}
#admin1{
    cursor: pointer;
}