@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sen&family=Source+Sans+Pro:wght@300;400&family=Vollkorn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(/assets/Background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #E5E5E5;
  background-blend-mode:darken;
  background-position: top;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Sen', sans-serif;
}
/* Navbar Start */
.action{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
}
.action .menu{
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px, 20px;
  background-color: #e5e5ee;
  width: 200px;
  height: 120px;
  box-sizing: 0px 5px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #e5e5ee;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  margin-top: 4px;
  margin-left: 0px;
}
.action .menu ul li a:hover{
  color: rgb(63, 63, 63);
}
.action .menu ul .border{
  border-top: 1px solid rgba(0,0,0,05);
}
.navbar{
    background-color:transparent;
    position: relative;
    top: 100px;
    right: 0px;
    background-color: transparent;
}
.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 40px;
    top: -60px;
}
button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    
}
/* Navbar end */
/* Profile start */
.profile1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: auto;
    gap: 40px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    min-height: 334px;
    background-color: #FFD9D9;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap ;
    width: auto;
    min-height: 300px;
    padding: 10px;
}
.headtext{
    font-family: 'Times New Roman', Times, serif;
    width: 78%;
    font-size: 18px;
    float: left;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    min-height: 300px;
    position: relative;
}
h4{
    font-size: 14px;
    color: #050505;
    text-align: justify;
    position: relative;
    top: 5px;
}
h6{
    font-size: 12px;
    color: #8A8C90;
    padding: 2px;
    text-align: justify;
    position: relative;
    top: 10px;
    right: 2px;
}
.user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.test{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    float: left;
    gap: 10px;
    width: 50%;
}
#email{
    position: relative;
    top: 3px;
}
#email1{
    position: relative;
    top: -9px;
}
#gender{
    position: relative;
    top: 10px;
}
#gender1{
    position: relative;
    top: -2px;
}
#num{
    position: relative;
    top: 20px;
}
#num1{
    position: relative;
    top: 5px;
}
#address{
    position: relative;
    top: 30px;
}
#address1{
    position: relative;
    top: 15px;
}
#edit{
    background-color: #D60000;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Sen', sans-serif;
}
/* Profile end */
/* List book start */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booklist{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 50px;
} 
.LT{
    font-size: 24px;
    max-width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: left;
}
.NT{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
    color:#929292;
    background-color: transparent;
    position: relative;
    left: 0px;
    top: 10px;
}
.listhead{
    position: relative;
    bottom: 50px;
    margin-top: 150px;
    width: 87%;

}
.list{
    position: relative;
    left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 700;
}
#download{
    width: 100%;
    background-color: #393939;
    color: white;
    font-family: 'Sen', sans-serif;
    height: 40px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
}